agm-map {
    height: 90%;
  }

.title {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 10%;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: url('/assets/background.png');
    /* Change the last value (0.5) to adjust the opacity */
    opacity: 0.3;
}

.title h1 {
    margin: 0%;
    font-size: 65px;
}

.city-selector{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}